[data-requires-disclosure="true"] .disclosure-link {
  color: initial;
  display: inline-block;
}

[data-requires-disclosure="false"] .disclosure-link {
  display: none;
}

.title_${dyVariationId} {
  position: relative;
  font-size:20px;
  margin-bottom:12px;
  text-align:center;
  ${Font}
  color:${Title Color};
}

.recs_${dyVariationId} {
  display: -webkit-flex; /* Safari */
  display: flex;
  ${Font}
}

.rec_item_${dyVariationId}:last-of-type {
  margin-right:0px;
}

.rec_item_${dyVariationId} img{
 	width:100%;
 	display:block;
 	margin-bottom:8px;
  border: ${Product Image Border};
  border-radius:3px;
}

.rec_item_${dyVariationId} .rec_name {
  font-size:12px;
  width:100%;
  margin-bottom:5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rec_item_${dyVariationId} .rec_price {
  font-size:15px;
  font-weight:bold;
  margin-bottom:5px;
  ${Product Price}
}


@media (max-width: 670px) {
  .rec_item_${dyVariationId} div {
    font-size:12px;
  }

  .title_${dyVariationId} {
    margin-bottom:21px;
  }
}

@media (max-width: 450px) {
  .title_${dyVariationId} {
    margin-bottom:12px;
    font-size:20px;
  }

  a.rec_item_${dyVariationId} {
    margin-right:5px;
  }


  .rec_item_${dyVariationId} .rec_name {
    font-size:10px;
  }

  .rec_item_${dyVariationId} .rec_price {
    font-size:12px;
  }
}
